* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Big Shoulders Display", 'Outfit', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    display: flex;
    flex-direction: column;

}

.Header {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.mobile_map {
    z-index: 0;
    width: 100%;
}

.tablet_map {
    display: none;
}

.home {
    border: none;
    width: 204px;
    height: 72px;
    background-color: #151515;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: Big Shoulders Display;
    font-size: 20px;
    font-weight: 800;
    line-height: 23.94px;
    letter-spacing: 3.6363637447357178px;
    text-align: center;
    color: White;
    margin-left: -1px;
}



.left_arrow {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    border: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_button:hover .home {
    background-color: #D5966C;
}

.back_button:hover .left_arrow {

    background-color: #151515;
}

.back_button {
    display: flex;
    position: absolute;
    z-index: 1;

}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: #151515;
    padding: 48px 16px 56px 16px;
    gap: 48px;
}

.title {
    font-family: Big Shoulders Display;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    text-align: left;
    color: #FFFFFF;
}

.address {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.street {
    font-family: Big Shoulders Display;
    font-size: 32px;
    font-weight: 900;
    line-height: 32px;
    text-align: left;
    color: #D5966C;
}

.small_txt {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;
    opacity: 0px;

}

.info {
    font-family: Outfit;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #FFFFFF;


}

.Footer {

    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #D5966C;
    padding: 48px 32px 48px 32px;
    gap: 38px;
}

.footer_txt {
    font-family: Outfit;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #151515;
    max-width: 311px;
    display: flex;

}


.contact {
    display: flex;
    gap: 20px;
}

i {
    color: #151515;
}

i:hover {
    color: #FFFFFF;
}

.footer_info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 38px;
}

.desktop_map {
    display: none;
}

@media(min-width:768px) {
    .mobile_map {
        display: none;
    }

    .tablet_map {
        display: block;
        width: 100%;
    }

    .back_button {
        display: flex;
        position: absolute;
        z-index: 1;
        margin-left: 39px;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;
        background-color: #151515;
        padding: 88px 39px 88px 39px;
        gap: 48px;
    }

    .title {
        max-width: 223px;
        font-family: Big Shoulders Display;
        font-size: 55px;
        font-weight: 900;
        line-height: 50px;
        text-align: left;
        color: #FFFFFF;
    }

    .address {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 20px;
    }

    .street {
        font-family: Big Shoulders Display;
        font-size: 32px;
        font-weight: 900;
        line-height: 32px;
        text-align: left;
        color: #D5966C;
        max-width: 350px;
    }

    .small_txt {
        font-family: Outfit;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #FFFFFF;
        opacity: 0px;

    }

    .info {
        max-width: 398px;
        font-family: Outfit;
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        text-align: left;
        color: #FFFFFF;


    }

    .Footer {
        background-color: #D5966C;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;

        padding: 56px 39px 56px 39px;

    }

    .footer_txt {
        font-family: Outfit;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        text-align: left;
        color: #151515;
        max-width: 281px;
        display: flex;

    }

    .contact {
        display: flex;
        gap: 20px;
    }

    i {
        color: #151515;
    }

    i:hover {
        color: #FFFFFF;
    }

    .footer_info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 65px;
    }

    .desktop_map {
        display: none;
    }
}



@media(min-width:1440px) {
    .mobile_map {
        display: none;
    }

    .tablet_map {
        display: none;
    }

    .desktop_map {
        display: block;
        width: 100%;
    }

    .back_button {
        display: flex;
        position: absolute;
        z-index: 1;
        margin-left: 156px;
    }

    .content {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        background-color: #151515;
        padding: 104px 165px 128px 165px;
        gap: 48px;
    }

    .title {
        max-width: 350px;

        font-family: Big Shoulders Display;
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        text-align: left;

        color: #FFFFFF;
    }

    .address {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
    }

    .street {

        font-family: Big Shoulders Display;
        font-size: 36px;
        font-weight: 900;
        line-height: 36px;
        text-align: left;
        color: #D5966C;
        max-width: 350px;
    }

    .small_txt {

        font-family: Outfit;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;

        color: #FFFFFF;
        opacity: 0px;

    }

    .info {

        font-family: Outfit;
        font-size: 22px;
        font-weight: 400;
        line-height: 32px;
        text-align: left;
        max-width: 540px;
        color: #FFFFFF;


    }



    .Footer {
        background-color: #D5966C;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: row;

        padding: 80px 165px 80px 165px;

    }

    .footer_txt {
        font-family: Outfit;
font-size: 18px;
font-weight: 400;
line-height: 28px;
text-align: left;

        color: #151515;
        max-width: 430px;
        display: flex;

    }


    .footer_info {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: row;
        gap: 140px;
    }

    .logo_desktop{
        width: 159.57px;
height: 58px;


    }
}